version: '3.9'

services:
  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - eleskov-shop-backend

  redis:
    container_name: redis
    image: redis:8.4.0-bookworm
    restart: always
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - eleskov-shop-backend

volumes:
  postgres_data:
  redis_data:

networks:
  eleskov-shop-backend:
